
.employee{
    width: 600px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;  
      border-radius: 15px;

}
.employee p{
    font-weight: 600;
}
@media (max-width:600px) {
table{
    width: 18rem;
}    
}